<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIDeviceFamily</key>
	<array>
		<integer>1</integer>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>MinimumOSVersion</key>
	<string>10.0</string>
	<key>CFBundleDisplayName</key>
	<string>KLab&#x2007;Mov</string>
	<key>CFBundleIdentifier</key>
	<string>com.kinematiclab.mov</string>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>CFBundleName</key>
	<string>Kinematic Lab Mov</string>
	<key>XSAppIconAssets</key>
	<string>Assets.xcassets/AppIcon.appiconset</string>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>UIAppFonts</key>
	<array>
		<string>Fonts/FontAwesome.ttf</string>
	</array>
	<key>NSCameraUsageDescription</key>
	<string>Necesitaremos utilizar la cámara de tu dispositivo para grabar en video tu movimiento</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Necesitaremos acceder a los videos grabados en la galería del dispositivo</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>Para poder grabar el video, necesitaremos acceso al micrófono del dispositivo</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>Necesitaremos almacenar el video grabado en la galería del dispositivo</string>
	<key>NSCalendarsUsageDescription</key>
	<string>Kinematic Lab Mov solamente utilizará tus datos para fines científicos</string>
	<key>CFBundleShortVersionString</key>
	<string>0.9.3</string>
	<key>CFBundleVersion</key>
	<string>0.9.3</string>
</dict>
</plist>
